.vs-text {
    position: relative;
}

.vs-text::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: -0.3rem;
    width: calc(100% + 1rem);
    height: 100%;
    transform: skew(-5deg);
    background-color: white;
}
