@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
  font-family: "Inter", sans-serif;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
}